body {
    background-color: aquamarine;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

main {
    display: grid;
}

header {
    font-size: 45px;
    text-align: center;
    padding-top: 15px;
    grid-column: 3;
    grid-row: 1;

}

div {
    grid-column: 2/4;
    grid-row: 1/3;
}